
.container{
    width: 40%;
}

::ng-deep .estilo{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.65),
        rgba(0, 0, 0, 0.65)
      ),url(../../assets/images/plumas.jpg);
    background-size: cover;
    font-family: 'Roboto', sans-serif;
}

.login{
    margin-top:100px; 
    background-color: #f4f4f4f1;
}
.formulary{
    padding: 30px;
}

.logo{
    background-color: white;
    padding-top: 8px;
}

.logo img{
    width:90%;
}


@media screen and (max-width: 992px) {
    .container{
        width: 70%;
    }
    .logo img{
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    .container{
        width: 80%;
    }
    .logo img{
        width: 90%;
    }
    .login{
        margin-top: 50px;
    }
}
@media screen and (max-width: 576px) { 
    .container{
        width: 90%;
    }
    .logo img{
        width: 95%;
    }
    .formulary{
        padding: 15px;
    }
    .login{
        margin-top: 40px;
    }
}


