<div class="container">
    <div class="login rounded">
        <div class="logo rounded-top border-bottom">
            <div class="row" style="padding:10px;">
                <div class="col-sm-12 text-center">
                    <img src="../../assets/images/Logo_SHCP_SAT.jpg" alt="" srcset="">   
                </div>
            </div>
        </div>
        <div class="formulary" >
            <form action="">
                <div class="row">
                    <div class="col-sm-12">
                        <label for="CER" style="font-size: 18px;">Ingresa tu Certificado</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01">
                              <label class="custom-file-label" for="inputGroupFile01">Ingresa tu archivo</label>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-sm-12">
                        <label for="KEY" style="font-size: 18px;">Ingresa tu Llave</label>
                        <div class="input-group mb-3">
                            <div class="custom-file">
                              <input type="file" class="custom-file-input" id="inputGroupFile02" aria-describedby="inputGroupFileAddon02">
                              <label class="custom-file-label" for="inputGroupFile02">Ingresa tu archivo</label>
                            </div>
                        </div>
                        
                    </div>
                    
                    <div class="col-sm-12">
                        <label for="Contraseña" style="font-size: 18px;">Ingresa tu Contraseña</label>
                        <input type="password" class="form-control" >                                
                        <br>
                    </div>
                    
                    <div class="col-sm-12">
                        
                        <input type="submit" value="Login" class="form-control text-white" style="background-color:#13322b" >
                    </div>
                </div>
             </form>
        </div>
       
    </div>
</div>    